<h2><%= @post.title %></h2>
<sub><%= link_to(@post.blogger.name, blogger_path(@post.blogger)) %></sub>
<sub><%= link_to(@post.destination.name, destination_path(@post.destination)) %></sub>
<%= button_to "Likes", post_path(@post)%>
<% @like %>
