<h3>Most Recent 5 Posts</h3>
<ul>
  <% @destination.posts.last(5).each do |post| %>
  <li><%= link_to(post.title, post) %></li>
  <% end %>
</ul>

<h4>Featured Post</h4>
<%= link_to(@destination.most_like.title, @destination.most_like) %>

<h4>Blogger Average Age</h4>
<p>Average Age: <%= @destination.average_age %></p>
